*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

body{

  background-image:
  url('https://wallpapercave.com/wp/wp5128415.jpg');

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;

  min-height:100vh;

  color:white;

  padding:15px;
}

.video-banner{

  position:relative;

  width:100%;
  max-width:900px;

  aspect-ratio:16/6;

  overflow:hidden;

  border-radius:18px;

  margin:auto;

  box-shadow:
  0 8px 30px rgba(0,0,0,.5);
}

.video-banner video{

  width:100%;
  height:100%;

  object-fit:cover;
}

.overlay{

  position:absolute;
  inset:0;

  background:
  linear-gradient(
  to top,
  rgba(0,0,0,.7),
  rgba(0,0,0,.1)
  );
}

.overlay-text{

  position:absolute;

  left:20px;
  bottom:20px;
}

.overlay-text h1{

  color:#FFD700;

  font-size:2rem;

  text-shadow:
  0 3px 10px rgba(0,0,0,.8);
}

.container{

  width:100%;
  max-width:420px;

  margin:25px auto;

  background:
  rgba(0,0,0,.75);

  padding:25px;

  border-radius:18px;

  box-shadow:
  0 8px 25px rgba(0,0,0,.5);
}

.title-box{

  text-align:center;

  margin-bottom:20px;
}

.title-box h2{

  color:#FFD700;

  margin-bottom:5px;
}

label{

  display:block;

  margin-bottom:16px;
}

input,
select{

  width:100%;

  padding:12px;

  border:none;

  border-radius:10px;

  margin-top:7px;

  background:#1f1f1f;

  color:white;
}

.price-box{

  background:#FFD700;

  color:black;

  padding:14px;

  border-radius:10px;

  text-align:center;

  font-weight:bold;

  margin-bottom:18px;
}

.pay-box{

  margin-bottom:20px;
}

.pay-box h3{

  margin-bottom:10px;

  color:#FFD700;
}

.pay-item{

  background:#222;

  padding:12px;

  border-radius:10px;

  margin-bottom:10px;

  line-height:1.7;
}

button{

  width:100%;

  padding:14px;

  border:none;

  border-radius:12px;

  background:#FFD700;

  color:black;

  font-size:1rem;

  font-weight:bold;

  cursor:pointer;
}

button:hover{

  background:#ffea61;
}

#msg{

  margin-top:18px;

  text-align:center;

  font-weight:bold;

  color:#00ff90;
}
